.navbar {
  padding: 0;
  @include media-query($on-palm) {
    padding: 0.5rem 1rem;
  }
}
.container {
  text-align: center;
}
.logo-container {
  max-width: 100%;
  margin-bottom: 20px;
}

.logo-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.logo {
    width: 100px; /* Adjust the size of the logo */
    margin-right: 20px; /* Space between logo and title */
}
.logo-image {
  max-width: 300px; /* Adjust this value as needed */
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.tall-nav {
  padding: 1rem 1rem;
}
