---
layout: default
---

<div class="row">
  <div class="col-md-8 mb-5">
	<b> Salient Security Services is here to help. </b>
	<p>
	Our mission is to enable 
	small and medium sized companies in the Niagara Region win their 
	security battles. The enemy is aggressive and inventive; security 
	attacks are constantly evolving. Maintaining adequate computer 
	security is an ongoing struggle.</p>

	<p>
	Computer services and data files are at great risk. The number of 
	security breaches is skyrocketing. The cost to recover from a security 
	event is now reported to range from $40,000 for a minor incident, to 
	over ten million dollars for a severe ransom situation. Several 
	large enterprises have even been forced into bankruptcy following 
	a major cybersecurity attack.</p>

	<p>Our portfolio of proven security solutions cover:</p>

	<ul>
	<li>Protecting your computer operations and assets;</li>
	<li> Detecting security events immediately when they occur;</li>
	<li> Responding quickly to security incidents and breaches; and</li>
	<li> Recovering as quickly as possible from the impact of a security event.  </li>
	</ul>
<p>
	The internet is a dangerous place. Hackers, malware, ransomware, acts of 
	fraud, phishing, identity theft and interception are rampant. Hundreds of 
	small businesses are impacted every day. The question of whether you will 
	be impacted is not one of “if”, but “when, and how much”. From being 
	forced off-line, to being forced out of business, the risks are all too 
	real. According to FBI data, the average ransomware demand is over $100,000. 
	No business today can afford to ignore cyber security.
</p>
    <a class="btn btn-primary btn-lg" href="#">Am I Prepared? &raquo;</a>

  </div>
  {% include sidebar.html %}
</div>
<!-- /.row -->

<div class="row">
	{% for card in site.data.cards %}
  <div class="col-md-4 mb-5">
    <div class="card border-0 shadow h-100">
      <img class="card-img-top" src="assets/img/{{ card.image }}" alt="" width="320" height="180" />
      <div class="card-body">
        <h4 class="card-title">{{ card.title }}</h4>
        <p class="card-text">
					{% include {{ card.text }}.md %}
        </p>
      </div>
      <div class="card-footer">
        <a href="{{ card.link }}" class="btn btn-primary"> Stay safe!</a>
      </div>
    </div>
  </div>
	{% endfor %}
</div>
<!-- /.row -->
